$borderGrey: #ccc;
$productBorderGray: #e0e0e0;
$fontGray: #666;
$tagsFontGray: #545454;
$wite: #fff;
$addOrange: #f90;  
$addButtonGray: #333;
$black: #000;
$availableGreen: #093;
$defaultPrice: #a7a7a7;
$mainYellow: #ffcc33;
$hoverGray: #cccccc;